.sold-out-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.close-to-you-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: lightgray;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.first-row {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.photo {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

.star {
    width: 14px;
    height: 14px;
}

.black {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.grey {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #918E9B;
}

.third-row {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.bold {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}