.button {
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10%/40%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.large {
    width: 193px;
    height: 52px;
    font-size: 16px;
}

.medium {
    width: 120px;
    height: 35px;
    font-size: 10.24px;
}

.small {
    width: 65.92px;
    height: 20.65px;
    font-size: 10.24px;
}