.question {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 11.98px;

}

.answers {
    display: flex;
    flex-direction: row;
    gap: 12.71px;
}