.container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

.card-img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.country {
    color: #2B283A;
    font-size: 10.24px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-weight: 400;
    letter-spacing: 0.17em;
}

.google-maps-link {
    color: #918E9B;
    font-weight: 400;
    font-size: 10.24px;
}

.name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
}

.date {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}

.description {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}