.App {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px lightgray;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}