.form {
    margin: 36px 36px 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.input {
    width: 230px;
    height: 35px;

    border: 1px solid #D5D4D8;
    border-radius: 5px;

    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #0D0D0D;
    text-indent: 5px;
}

.button {
    width: 477px;
    height: 40px;

    border: none;
    border-radius: 5px;

    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);

    cursor: pointer;

    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1em;
}

.meme {
    width: 477px;
    height: 268px;
    border-radius: 2px;
    margin: 36px;
}