.App {
    display: flex;
    flex-direction: column;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #888888;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
}

.boxes {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}