.main {

    /* Aligning Main contents in a column */

    display: flex;
    flex-direction: column;

    /* Distance between photo, name, job, website and buttons is 10px */
    gap: 10px;
}

.photo {}

/* Font styles from Figma */

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.job {
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}

.website {
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
}

/* Div containing two buttons */

.buttons {

    /* Additional margin from website text */
    margin-top: 10px;

    /* Aligning two button in a row */

    display: flex;
    flex-direction: row;
    justify-content: center;

    /* Gap between buttons is 17px */
    gap: 17px;
}

.email-button {

    /* From Figma */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 90px;
    height: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: white;

    /* Making div look like a button */
    cursor: pointer;
}

.linkedin-button {

    /* From Figma */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 90px;
    height: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background-color: #5093E2;

    /* Making div look like a button */
    cursor: pointer;
}

.email-button-text {

    /* From Figma */

    width: 36px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.linkedin-button-text {

    /* From Figma */

    width: 57px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}